<!DOCTYPE html>
<html lang="en">
<head>
  <link rel="stylesheet" href="/styles/cards_show.css" type="text/css" />
  <!-- External JS -->
  <script type="text/javascript" src="/vendor/jquery-3.0.0.js"></script>
  <!-- App js -->
  <script type="text/javascript" src="/scripts/app_comments.js"></script>
  <script type="text/javascript" src="/scripts/resource_show.js"></script>
</head>

  <% include ./Partials/_header %>

  <body>

    <section class="cards-container-show" id="contain-resources">
      <div id="register1" class="d-flex align-items-center justify-content-center">
        <div class="card" style="width: 34rem;">
          <img class="card-img-top" src="<%= pic %>" alt="Card image cap">
          <div class="card-body">
            <h5 class="card-title"><%= title %></h5>
            <p class="card-text"><%= description %></p>
            <i id='likeCount' class="fas fa-thumbs-up"> <%= likes %></i>
            <p id="ratings-count" class="fas fa-star"> <%= Math.round(ratings * 10) / 10 + " / 5" %></p>

            <hr id="div-like"> 
            <br>
            <button id='like-button' class="btn btn-outline-info far fa-thumbs-up">  Like</button>
            <form id="ratingID" method="POST" Action="/resource/<%=resource_id%>/rating">
              <select name="rating" id="rating">
                  <option value='1'>1</option>
                  <option value='2'>2</option>
                  <option value ='3'>3</option>
                  <option value = '4'>4</option>
                  <option value = '5'>5</option>
                </select>
                <button id="rate-btn" type="submit" class="btn btn-outline-info far fa-star">  Rate</button>
            </form>
            <form action="<%= url %>">
              <button type="submit" class="btn btn-warning btn-lg">Read the whole resource</button>
            </form>
              <div class="ranking-likes">
                <i id='likeCount' class="fas fa-heart"><%= likes %></i>
                <p><%= Math.round(ratings * 10) / 10 + " / 5" %></p>
            </div>
          </div>
        </div>
      </div>
      <div id="register2" class="d-flex align-items-center justify-content-center">
        <div class="card" style="width: 34rem;">
          <div class="card-body">
            <form id="form-comments" action="/resources/<%= resource_id %>/comments" method="POST">
              <h6 class="card-title">Write your comment... </h5>
              <textarea id="comments-text" name="comments-text" cols="30" placeholder="Write a comment..." rows="10"></textarea>
              <button type="submit" class="btn btn-sm btn-block btn-outline-info">Comment</button>
            </form>
          </div>
        </div>
      </div>
      <div id="register3" class="d-flex align-items-center justify-content-center">
          <div class="card" id="card-comments" style="width: 34rem;">
            
          </div>
        </div>
    </section>

    <% include ./Partials/_footer %>

  </body>
</html>
